body {
  max-width: 90%;
  margin: auto;
}

header {
  border: solid;
  height: 40vh;
  color: white;

  /* text-align: center; */

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;

  background-image: url(../img/flexbox-fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header > div {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  transition: background-color 0.3s ease;
}

header > div:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: black;
  color: white;
  padding: 1em;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.galeria img {
  flex-grow: 1;
}

footer {
  padding: 0.25em 1em;
  border: 1px solid black;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
}
