body {
  max-width: 90%;
  margin: auto;
}

.menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  background-color: black;
  color: white;
  padding: 1em;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.galeria img {
  flex-grow: 1;
}

footer {
  padding: .25em 1em;
  border: 1px solid black;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
}
